@import "./variables.css";

.navbar__search {
  flex: 1;
  max-width: 500px;
  position: relative;
}

.navbar__search input {
  width: 100%;
  padding: 10px 16px 10px 42px;
  border: 1.5px solid var(--color-iron);
  border-radius: 9999px;
  font-size: 14px;
  background-color: var(--color-bg);
  color: var(--color-ebony);
  outline: none;
  font-family: var(--font-body);
  transition: 0.2s ease;
}

.navbar__search input:focus {
  border-color: var(--color-blue);
  background-color: #fff;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: var(--color-blue);
  font-size: 14px;
}
