
/* styles/variables.css */
:root {
  --color-ebony: #04060D;
  --color-iron: #D3D4D7;
  --color-blue: #3E8DE3;
  --color-torea: #143AA2;
  --font-body: 'Outfit', sans-serif;
  --font-display: 'Playfair Display', serif;
}
